<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quiz Manager</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <img src="{{ url_for('static', filename='book_logo.jpg') }}" height="50px" width="50px">
        <h1>Quiz Manager</h1>
        <ul>
            {% if g.user %}
                <li><span>{{ g.user['username'] }}</span>
                <li><a href="{{ url_for('quiz_manager.logout') }}">Log Out</a>
            {% else %}
                <li><a href="{{ url_for('quiz_manager.login') }}">Log In</a>
            {% endif %}
        </ul>
    </nav>
    <section class="content">
        <header>
            {% block header %}{% endblock %}
        </header>
        {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
        {% endfor %}
        {% block content %}{% endblock %}
    </section>
</body>
</html>